<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navigation -->
    <div class="navbar navbar-inverse navbar-fixed-top nav">
      <div class="navbar-inner">
        <div class="container-fluid">
          <span><%= link_to "Weather API", get_coordinates_path, class: "home" %></span>
        </div>
      </div>
    </div>

    <!-- Page Content -->
    <div class="container">
      <div class="row top-padding">
        <%= yield %>
	  </div>
	</div>
  </body>
</html>
